{% extends 'company/base.html' %}
{% block content %}

    <div id="filter">
    <form action="" method="get" id="submit">
        {{ filter.form.as_p }}
        <input type="submit"/>
    </form>
    {% for obj in filter.qs %}
    {% if obj in filter.qs %}
    <a href="/brands/{{obj.id}}">{{ obj.name }}</a>
        <p>Image {% if obj.image != None %}
        <img src="{{ obj.image.url }}">
        {% endif%}</p>
        <p>Icon {% if obj.icon != None %}
        <img src="{{ obj.icon.url }}" width="30" height="30">
        {% endif%}</p>
        
        <br> Type: {{  obj.type }} City: {{ obj.city }} Stack: {{  obj.stack }} 
    {% endif %}
    {% empty %}
        <p>no matches</p>
    {% endfor %}

{% endblock %}
</div>