{% extends 'company/base.html' %}
{% load static %}
{% block content %}
<div class="row company-details">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
    <input class="btn btn-success" type="button" value="Go Back" onclick="history.back(-1)" />
    <div class="col col-md-12 company-bg" style="background-image: url('{{ brand.image.url }}'); background-repeat: no-repeat, repeat;">
    </div>
    <div class="bottom-overlay"></div>
    <div class="company-description">
        <div class="heading">
            <div class="title">About us</div>
            <div class="social-media">

                {% if brand.website %}
                <a class="" href="{{ brand.website }}">
                    <i class="fas fa-globe-europe fa-2x"></i>
                </a>
                {% endif %}

                {% if brand.facebook %}
                <a class="" href="{{ brand.facebook }}">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                {% endif %}

                {% if brand.instagram %}
                <a class="" href="{{ brand.instagram }}">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                {% endif %}

                {% if brand.youtube %}
                <a class="white" href="{{ brand.youtube }}">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
                {% endif %}

                {% if brand.twitter %}
                <a class="" href="{{ brand.twitter }}">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                {% endif %}

                {% if brand.linkedin %}
                <a class="" href="{{ brand.linkedin }}">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                {% endif%}

            </div>
        </div>
        <div class="company-about">
            {{ brand.company_about }}
        </div>



    </div>
    <div class="company-stats">
        <div class="company-logo-container">
            <img class="company-logo" src="{{ brand.logo.url }}">
        </div>
        <div class="company-attributes">
            <div class="field-group">
                <div class="field">Type</div>
                <div class="value">{{ brand.type }}</div>
            </div>
            <div class="field-group">
                <div class="field">Company size</div>
                <div class="value">{{ brand.workers }}+</div>
            </div>
            <div class="field-group">
                <div class="field">Headquarters</div>
                <div class="value">{{ brand.city }}</div>
            </div>
            <div class="field-group">
                <div class="field">Open for students</div>
                <div class="value">{{ brand.students }}</div>
            </div>
        </div>
        <div class="technologies-section">
            <p class="tech-heading">Technologies</p>
            <div class="technologies-wrapper">
            {% for technologies in brand.technologies.all %}
                <div class="stack-logo">

                    <div>
                        <img class="stack-img" src="{{ technologies.icon }}">
                    </div>
                    <div class="tech-name">{{ technologies.name }}</div>
                </div>
            {% endfor %}   
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-2"></div>
</div>
<div class="row">
    <div class="col col-md-1"></div>
    <div class="col col-md-3">
        <div class="menu">
            <div class="company-logo-container">
                <img class="company-logo" src="{{ brand.logo.url }}">
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" href="#social_media">Social Media</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col col-md-1"></div>
    <div class="col col-md-5 card-section">
        <div class="team ">
            <div class="card-title">
                <span>Team</span>
            </div>
            <div class="row text-center">
                <div class="col col-md-4">
                    {% for team in brand.team.all %}
                    <p>{{ team.first_name }} {{ team.last_name }}</p>
                    
                    <img class="img-thumbnail" src="/media/{{ team.photo }}">
                    {% for position in team.position.all %}
                      {{ position.position }}
                    {% endfor %}
                    <p>{{ team.about }} </p>
                </div>
                {% endfor %}

                {{ person.position }}
               <!-- <div class="col col-md-4">
                    <p>Team member</p>
                    <img src="{% static 'icons/student.png' %}">
                    <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker</p>
                </div>
                <div class="col col-md-4">
                    <p>Team member</p>
                    <img src="{% static 'icons/student.png' %}">
                    <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker</p>
                </div> !-->
            </div>
            
        </div>
    </div>
    <div class="col col-md-2"></div>
    <div class="col col-md-5"></div>
    <div class="col col-md-5 card-section">
        <div class="card-title">
            <span>Social Media</span>
            <div class="other-social">
                <span>Check us also on</span>
                <div class="social-media">
                {% if brand.facebook %}
                <a class="" href="{{ brand.facebook }}">
                    <i class="fab fa-facebook fa-1x"></i>
                </a>
                {% endif %}

                {% if brand.instagram %}
                <a class="" href="{{ brand.instagram }}">
                    <i class="fab fa-instagram fa-1x"></i>
                </a>
                {% endif %}

                {% if brand.youtube %}
                <a class="" href="{{ brand.youtube }}">
                    <i class="fab fa-youtube fa-1x"></i>
                </a>
                {% endif %}

                {% if brand.twitter %}
                <a class="" href="{{ brand.twitter }}">
                    <i class="fab fa-twitter fa-1x"></i>
                </a>
                {% endif %}

                {% if brand.linkedin %}
                <a class="" href="{{ brand.linkedin }}">
                    <i class="fab fa-linkedin fa-1x"></i>
                </a>
                {% endif%}
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock %}
