
{% block content %}
    <div>
        <a href="search?type=startup" class="btn btn-default">Startup</a>
        <a href="search?type=software_house" class="btn btn-default">Software House</a>
        <a href="search?type=e-commerce" class="btn btn-default">E-commerce</a>
        <a href="search?type=corporation" class="btn btn-default">Corporation</a>

    </div>
    <div>
        <a href="search?type=&city=szczecin" class="btn btn-default">Szczecin</a>
    </div>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        Firma: {{ obj.name }} Miasto: {{ obj.city }} - Stack: {{ obj.stack }} - Liczba pracownikow: {{ obj.workers }}
         <br />
    {% endfor %}
{% endblock %}}