{% load static %}
<html>
    <head>
        <title>IT Companies Checker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">IT Companies Checker</a></h1>
        </div>
        
    <div class="container">    
 {% for company in my_companies %}
    
        <div class="row">
            <div class="col-md-4">
                <h1><a href="">{{ company.company_name }}</a></h1>
                <p>type:   {{ company.get_company_types_display }}</p>
                <p>company workers: {{ company.company_workers }}</p>
                <p>company headquarters: {{ company.city }}</p>
                <p>company technologies {{ company.get_company_technologies_display }} </p>
                <p>about company: {{ company.company_about }} </p>
            </div>
        </div>
{% endfor %}
</div>


    </body>
</html>