

#map {
    height: 100%;
}
.map {
	height: 100%;
}

.spad {
	padding-top: 100px;
}
.company-details {
	padding: 30px 30px 50px 30px;
}
.company-bg {
	width: 1150px;
	height: 700px;
}
.bottom-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 400px;
	background-image: linear-gradient(to bottom, transparent, #000);
}
.company-description {
	color: white;
	font-size: 15px;
	font-weight: 500;
	padding: 0;
	position: absolute;
	width: calc(100% - 620px);
	bottom: 50px;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin, .fa-globe-europe {
	color: white;
}
.heading {
	margin-left: 30px;
	margin-top: 20px;
}
.company-about {
	display: inline-block;
	margin-left: 30px;
}
.title {
	font-size: 32px;
	display: inline-block;
	color: white;
}
.social-media {
	text-align: center;
	float: right;
	display: inline-block;
	line-height: 48px;
	padding: 5px;
	color: white;
}
.white {
	color: white !important;
}
.other-social .social-media .fa-facebook {
	color: #3b5998;
}
.other-social .social-media .fa-twitter {
	color: #55acee;
}
.other-social .social-media .fa-instagram {
	color: #e4405f;
}
.other-social .social-media .fa-linkedin {
	color: #0976b4;
}
.other-social .social-media .fa-youtube {
	color: #e52d27;
}
.company-stats {
	position: absolute;
	background-color: #FFF;
	right: 130px;
	width: 410px;
	top: 80px;
	padding: 0 18px 18px 18px;
	box-shadow: 0 2px 18px 10px rgba(74,74,74,0.45);
	border-radius: 5px;
	z-index: 10;
}
.company-logo-container {
	position: relative;
	height: 100px;
	border-bottom: solid 1px #e1e8f0;
}
.company-logo {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	max-width: 150px;
	max-height: 70px;
}
.field-group {
	margin-top: 20px;
	font-size: 16px;
}
.field {
	width: 180px;
	display: inline-block;
}
.value {
	color: #9b9b9b;
    display: inline-block;
    float: right;
}
.tech-heading {
	font-size: 19px;
	font-weight: 500;
	border-bottom: solid 1px #e1e8f0;
	padding: 0 0 20px 0;
	margin: 39px 0 19px 0;
}
.technologies-wrapper {
	max-height: 152px;
	margin: 0 -15px;
	transition: max-height linear .25s;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
.logo-container {
	position: relative;
	height: 40px;
	width: 40px;
	margin: 0 auto;
}
.stack-logo {
	width: 20%;
	padding: 0 5px;
	float: left;
}
.stack-img {
	max-width: 40px;
	max-height: 40px;
	margin-left: 20%;
}
.tech-name {
	font-size: 0.8rem;
	color: #99a1ab;
	width: 100%;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}
.menu {
	box-shadow: 0 2px 18px 10px rgba(225,232,240,0.7);
	background-color: #FFF;
	margin: 20px 0 0 0;
	border-radius: 5px;
	top: 0;
}
.card-section {
	background-color: #FFF;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 2px 18px 10px rgba(225,232,240,0.7);
	overflow: hidden;
	margin-top: 40px;
}
.card-title {
	padding: 24px 33px;
	font-size: 32px;
	font-weight: 500;
	border-bottom: solid 2px #e1e8f0;
}
.other-social {
	float: right;
}
.other-social span {
	font-size: 14px;
	line-height: 48px;
	display: inline-block;
	text-transform: uppercase;
	color: #aab6c4;
}
.social-buttons {
	display: inline-block;
	vertical-align: sub;
	line-height: 48px;
}
.team {
	color: black;
	font-size: 16px;
	padding: 18px;
}

.footer {
	padding-top: 100px;
}
.features {
	padding-top: 30px;
}
.company {
	height:150px;
}
.name {
	max-width: 300px;
}
.type {
	max-width: 200px;
}

.comp_list {
	padding-top: 50px;
}
.comp_list a {
	color: black;
	text-decoration: none;
}
.comp_map {
	padding-top: 50px;
}
.bar {
	padding: 8px 15px;
	position: relative;
	display: flex;
	align-items: center;
	background: #fff;
}

.basic-info {
	min-width: 50px;
	margin-right: 5px;
}

body.night
{
    background: #00151f;
}
.toggle
{
    position: absolute;
    margin-left:50px;
    right: 150px;
    background: #fff;
    border: 2px solid #00151f;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active
{
    background: #00151f;
    border: 2px solid #fff;
}
.toggle:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
	width: 12px;
	height: 12px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}

body.night .content h1,
body.night .content p,
body.night .navbar a,
body.night .navbar-nav ul>li>a,
body.night #filter label
{
    color: #fff !important;
}
body.night nav {
	background: black !important;
	color: white !important;
}

body.night .team {
	color: white;
}